@model DomainClasses.Alias

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>

    <legend>Alias</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Bio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bio)
    </div>

    <div class="display-label">CreateDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>
    <div>
       @{
                   if (Model.Avatar != null)
                   {
                     var webImage = new WebImage(Model.Avatar.Avatar);
                     webImage.Resize(75, 75);
                   <img src="@("data:image/png;base64," + Convert.ToBase64String(webImage.GetBytes()))"  />
                   }
                   }
                   </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuthorKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
